
 @font-face {
    font-family: 'JosefinItalic';
    src:  url('../fonts/josefin-sans/JosefinSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
 }

 @font-face {
    font-family: 'JosefinLight';
    src:  url('../fonts/josefin-sans/JosefinSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
 }

 @font-face {
    font-family: 'JosefinRegular';
    src:  url('../fonts/josefin-sans/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
 }

 
 @font-face {
    font-family: 'JosefinBold';
    src:  url('../fonts/josefin-sans/JosefinSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
 }


 @font-face {
    font-family: 'Milkshake';
    src:  url('../fonts/milkshake/Milkshake.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
 }
